<div style='font-family: Poppins'>
  <table
    role='content'
    style='padding: 10px 0px; color: #363740; font-size: 16px;'
  >
    <tr>
      <td style='padding-bottom: 24px; font-weight: 600'>
        Xin chào {{name}},
      </td>
    </tr>

    <tr>
      <td>
        Chúng tôi rất vui thông báo rằng chúng tôi đã thêm một mã giảm giá mới dành cho khách hàng của chúng tôi!
      </td>
    </tr>
    <tr>
      <td>
        Dưới đây là mã giảm giá mới của bạn:
      </td>
    </tr>
    <tr>
      <td style="padding: 10px 0px;">
        <span style="font-weight: bold; font-size: 20px; color: #FF5733;">{{discountCode}}</span>
      </td>
    </tr>
     <tr>
      <td style="padding: 10px 0px;">
        <span style="font-size: 14px; color: #666;">Mã này giảm {{discountValue}}% cho đơn hàng của bạn.</span>
      </td>
    </tr>
    <tr>
      <td>
        Hãy sử dụng mã này khi thanh toán để nhận ưu đãi đặc biệt từ chúng tôi.
      </td>
    </tr>
    <tr>
      <td style='padding-bottom: 16px;'>
        Chúng tôi hy vọng bạn sẽ tận hưởng ưu đãi này và tiếp tục ủng hộ chúng tôi!
      </td>
    </tr>

    <tr>
      <td style='padding-bottom: 8px;'>
        <span>Trân trọng,</span>
        <br />
      </td>
    </tr>
    <tr>
      <td style='padding-bottom: 8px;'>
        <span style='font-weight: 600'>Nhóm Quản trị</span>
      </td>
    </tr>
    <tr>
      <td style='padding-bottom: 8px;'>
        <span style='font-weight: 800'>Orderus</span>
      </td>
    </tr>
  </table>
</div>
